<template>
  <div id="app" class="div-full">
    <div id="en-tête">
      <img
        src="https://mk0hotellenouveowyay.kinstacdn.com/wp-content/uploads/2019/01/restaurant-7-mers-bandeau.jpg"
      />
    </div>
    <div id="Details" align="center">
      <div class="overline mb-4">Name : {{ restaurant.name }}</div>
        <v-card class="mx-auto" max-width="600" outlined>
          <div id="image">
            <v-carousel cycle>
              <v-carousel-item
                v-for="(photo, p) in restaurant.photos"
                :key="p"
                :src="photo"
              >
              </v-carousel-item>
            </v-carousel>
          </div>
        </v-card>
      <v-list-item-title class="headline mb-1"
        >Location : {{ restaurant.location.city }}</v-list-item-title
      >
      <v-list-item-subtitle>Categories :</v-list-item-subtitle>
      <li v-for="(categorie, m) in restaurant.categories" :key="m">
        <v-list-item-subtitle>{{ categorie.title }}</v-list-item-subtitle>
      </li>
      <div class="overline mb-4">Price : {{ restaurant.price }}</div>

      <div class="overline mb-4">Téléphone : {{ restaurant.phone }}</div>
      <div class="overline mb-4">
        Nombre de vues : {{ restaurant.review_count }}
      </div>
      <v-list-item-subtitle>Types de transaction :</v-list-item-subtitle>
      <li v-for="(transactions, t) in restaurant.transactions" :key="t">
        <v-list-item-subtitle>{{ transactions.value }}</v-list-item-subtitle>
      </li>

      <v-list-item-subtitle>Horaires ouvertures :</v-list-item-subtitle>

      <div v-if="restaurant.hours.__ob__.value[0].is_open_now == true">
        Le restaurant est : OUVERT
      </div>
      <div v-else-if="restaurant.hours.__ob__.value[0].is_open_now == false">
        Le restaurant est : FERME
      </div>
      <div
        v-if="restaurant.hours.__ob__.value[0].open[0] != undefined"
        class="overline mb-4"
      >
        Lundi ouvre à
        {{
          restaurant.hours.__ob__.value[0].open[0].start.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[0].start.slice(2, 4)
        }}h et ferme à
        {{
          restaurant.hours.__ob__.value[0].open[0].end.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[0].end.slice(2, 4)
        }}h
      </div>
      <div
        v-if="restaurant.hours.__ob__.value[0].open[1] != undefined"
        class="overline mb-4"
      >
        Mardi ouvre à
        {{
          restaurant.hours.__ob__.value[0].open[1].start.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[1].start.slice(2, 4)
        }}h et ferme à
        {{
          restaurant.hours.__ob__.value[0].open[1].end.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[1].end.slice(2, 4)
        }}h
      </div>
      <div
        v-if="restaurant.hours.__ob__.value[0].open[2] != undefined"
        class="overline mb-4"
      >
        Mercredi ouvre à
        {{
          restaurant.hours.__ob__.value[0].open[2].start.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[2].start.slice(2, 4)
        }}h et ferme à
        {{
          restaurant.hours.__ob__.value[0].open[2].end.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[2].end.slice(2, 4)
        }}h
      </div>
      <div
        v-if="restaurant.hours.__ob__.value[0].open[3] != undefined"
        class="overline mb-4"
      >
        Jeudi ouvre à
        {{
          restaurant.hours.__ob__.value[0].open[3].start.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[3].start.slice(2, 4)
        }}h et ferme à
        {{
          restaurant.hours.__ob__.value[0].open[3].end.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[3].end.slice(2, 4)
        }}h
      </div>
      <div
        v-if="restaurant.hours.__ob__.value[0].open[4] != undefined"
        class="overline mb-4"
      >
        Vendredi ouvre à
        {{
          restaurant.hours.__ob__.value[0].open[4].start.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[4].start.slice(2, 4)
        }}h et ferme à
        {{
          restaurant.hours.__ob__.value[0].open[4].end.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[4].end.slice(2, 4)
        }}h
      </div>
      <div
        v-if="restaurant.hours.__ob__.value[0].open[5] != undefined"
        class="overline mb-4"
      >
        Samedi ouvre à
        {{
          restaurant.hours.__ob__.value[0].open[5].start.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[5].start.slice(2, 4)
        }}h et ferme à
        {{
          restaurant.hours.__ob__.value[0].open[5].end.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[5].end.slice(2, 4)
        }}h
      </div>
      <div
        v-if="restaurant.hours.__ob__.value[0].open[6] != undefined"
        class="overline mb-4"
      >
        Dimanche ouvre à
        {{
          restaurant.hours.__ob__.value[0].open[6].start.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[6].start.slice(2, 4)
        }}h et ferme à
        {{
          restaurant.hours.__ob__.value[0].open[6].end.slice(0, 2) +
            ":" +
            restaurant.hours.__ob__.value[0].open[6].end.slice(2, 4)
        }}h
      </div>
      <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">
            Réserver
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Réservation </span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="15" sm="6">
                  <v-text-field
                    v-model="nom"
                    label="Nom*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="email"
                    label="E-mail*"
                    required
                    suffix="@gmail.com"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-menu
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        label="Date de réservation*"
                        v-model="jour"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        required
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="jour"
                      @input="menu2 = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-select
                    :items="nombreDePersonneTab"
                    label="Nombre de personne*"
                    v-model="nombreDePersonne"
                    dense
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-select
                    :items="heureReservation"
                    label="Heure de réservation*"
                    v-model="heureDeReservation"
                    dense
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    name="messageParticulier"
                    v-model="messageParticulier"
                    label="Information complémentaire"
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
            <small>*Champs obligatoires</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">
              Close
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="
                nom !== '' &&
                email !== '' &&
                jour !== '' &&
                nombreDePersonne !== '' &&
                heureDeReservation !== ''
                  ? (addReservation(
                      restaurant.name,
                      jour,
                      email,
                      heureDeReservation,
                      messageParticulier,
                      nom,
                      nombreDePersonne,
                      idUser
                    ),
                    (dialog = false),
                    paiemantOn(
                      restaurant.name,
                      jour,
                      email,
                      heureDeReservation,
                      messageParticulier,
                      nom,
                      nombreDePersonne,
                      idUser
                    ))
                  : (dialog = true)
              "
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="paiement" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">paiement </span>
          </v-card-title>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>

<script></script>
<script>
import yelpREST from "../api/YelpFusionApi";

// Firebase App (the core Firebase SDK) is always required and must be listed first
import firebase from "firebase/app";
// If you are using v7 or any earlier version of the JS SDK, you should import firebase using namespace import
// import * as firebase from "firebase/app"

// If you enabled Analytics in your project, add the Firebase SDK for Analytics
import "firebase/analytics";

// Add the Firebase products that you want to use
import "firebase/auth";
import "firebase/firestore";
import "firebase/database";
import App from "../App.vue";

export default {
  components: { App },
  data() {
    return {
      id: this.$route.params.id,
      restaurant: [],
      nombreDePersonneTab: [1, 2, 3, 4, 5, 6],
      heureReservation: ["20:30", "21:00", "21:30", "22:00", "22:30"],
      nom: "",
      email: "",
      jour: "",
      nombreDePersonne: "",
      heureDeReservation: "",
      messageParticulier: "",
      dialog: "",
      paiement: "",
      idUser: Math.floor(Math.random() * (1000000000000000 - 1 + 1)) + 1,
    };
  },

  async created() {
    console.log(this.id);
    const response = await yelpREST.get(`businesses/${this.id}`);
    this.restaurant = response.data;
    console.log(this.restaurant);
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyCDWHH7SAHDBp_bRNDxsa4si8FN89wnwT0",
      authDomain: "restaurants-23c56.firebaseapp.com",
      databaseURL: "https://restaurants-23c56-default-rtdb.firebaseio.com",
      projectId: "restaurants-23c56",
      storageBucket: "restaurants-23c56.appspot.com",
      messagingSenderId: "40418323438",
      appId: "1:40418323438:web:b27cb5fb3ca4d4608fbcff",
      measurementId: "G-9MFCG1PT8H",
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    console.log("test fb");
  },

  methods: {
    addReservation(
      restaurant,
      jour,
      email,
      heure,
      dialog,
      nom,
      nombrePersonne,
      idUserResa
    ) {
      firebase
        .database()
        .refFromURL(
          "https://restaurants-23c56-default-rtdb.firebaseio.com/" +
            idUserResa +
            ""
        )
        .set({
          Restaurant: restaurant,
          date: jour,
          email: email,
          heure: heure,
          is_checkout: false,
          message: dialog,
          name: nom,
          nb_personne: nombrePersonne,
        });
    },
    paiemantOn(
      restaurant,
      jour,
      email,
      heure,
      dialog,
      nom,
      nombrePersonne,
      idUserResa
    ) {
      var request = new PaymentRequest(
        [
          {
            supportedMethods: "basic-card",
            data: {
              supportedNetworks: ["visa", "mastercard"],
              supportedTypes: ["debit", "credit"],
            },
          },
        ],
        {
          id: "order-123",
          displayItems: [
            {
              label: "Example item",
              amount: { currency: "USD", value: "0.00" },
            },
          ],
          total: {
            label: "Total",
            amount: { currency: "USD", value: "0.00" },
          },
        }
      );
      request.show().then(function(paymentResponse) {
        // Here we would process the payment. For this demo, simulate immediate success:
        paymentResponse.complete("success").then(function() {
          // For demo purposes:
          firebase
            .database()
            .refFromURL(
              "https://restaurants-23c56-default-rtdb.firebaseio.com/" +
                idUserResa +
                ""
            )
            .set({
              Restaurant: restaurant,
              date: jour,
              email: email,
              heure: heure,
              is_checkout: true,
              message: dialog,
              name: nom,
              nb_personne: nombrePersonne,
            });
        });
      });
    },
  },
};

</script>

<style>
.div-full {
        background-color: #a19898bd;
    }
</style>
