<template>
<div class="div-full">
  <div id="app">
    <div id="en-tête">
      <img
        src="https://mk0hotellenouveowyay.kinstacdn.com/wp-content/uploads/2019/01/restaurant-7-mers-bandeau.jpg"
      />
    </div>
    <v-app id="inspire">
      <label for="name"
        >Filtre nom restaurant :
        <input v-model="filtreNomRestaurant" placeholder="nom du restaurant" />
      </label>
      <input type="checkbox" id="checkbox" v-model="filtreCaseACocher" />
      <v-slider
        style="width: 300px;height: 50px"
        max="5"
        min="0"
        step="0.5"
        v-model="filtreNote"
      ></v-slider>

      <v-container categories col-md-3>
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Catégories
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-checkbox
                v-for="(item, i) in filtreParCategorie"
                :key="i"
                :label="item"
                :value="item"
                v-model="filtreParCategorieSelect"
              >
              </v-checkbox>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-container>

      <li v-for="(business, i) in this.businesses" :key="i">
        <div
          v-if="
            business.name
              .toLowerCase()
              .includes(filtreNomRestaurant.toLowerCase()) &&
              business.is_closed == filtreCaseACocher &&
              filtreNote >= business.rating && business.rating > 0 &&
              (business.categories.some((r) =>
                filtreParCategorieSelect.includes(r.title)
              ) ||
                filtreParCategorieSelect.length == 0)
          "
        >
          <v-card class="mx-auto" max-width="600" outlined>
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">Name : {{ business.name }}</div>
                <v-list-item-title class="headline mb-1"
                  >Location : {{ business.location.city }}</v-list-item-title
                >
                <v-list-item-subtitle>Categories :</v-list-item-subtitle>
                <li v-for="(categorie, m) in business.categories" :key="m">
                  <v-list-item-subtitle>{{
                    categorie.title
                  }}</v-list-item-subtitle>
                </li>
                <div class="overline mb-4">Price : {{ business.price }}</div>
                <v-rating
                  background-color="indigo lighten-3"
                  color="indigo"
                  large
                  v-model="business.rating"
                  readonly
                ></v-rating>
              </v-list-item-content>

              <v-img
                v-bind:src="business.image_url"
                size="50"
                max-height="200"
                max-width="150"
              ></v-img>
            </v-list-item>

            <v-card-actions>
              <v-btn @click="checkdetails(business.alias)" text
                >Voir en détail</v-btn
              >
            </v-card-actions>
          </v-card>
        </div>
      </li>
    </v-app>
  </div>
 </div> 
</template>

<script>
import yelpREST from "../api/YelpFusionApi";

export default {
  name: "main",
  props: {
    msg: String,
  },
  data() {
    return {
      businesses: [],
      responseAvailable: false,
      filtreNomRestaurant: "",
      filtreCaseACocher: false,
      filtreParCategorie: [],
      filtreParCategorieSelect: [],
      filtreNote: 5,
    };
  },
  created: function() {
    yelpREST("/businesses/search", {
      params: {
        location: "Paris",
        term: "coffee",
        limit: 10,
      },
    }).then(({ data }) => {
      let { businesses } = data;
      this.businesses = businesses;
      businesses.forEach((businesse) => {
        businesse.categories.forEach((categorie) => {
          if (!this.filtreParCategorie.includes(categorie.title)) {
            this.filtreParCategorie.push(categorie.title);
          }
        });
      });
      //console.log(this.businesses);
    });
  },

  methods: {
    checkdetails(id) {
      this.$router.push(`details/${id}`);
    },
  },
};
</script>

<style>
.div-full {
        background-color: #a55656bd;
    }
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
