<template>
  <v-app>
    <div id="app">
    <!--<nav>
        <router-link to='/'>Home</router-link>
    </nav>-->
  </div>
    <v-main class="background">
      <v-container fill-height fluid>
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>
